{% load static %}
<html>
    <head>
        <title>Assistência Técnica - Gestão</title>
        <form method="GET" action="{% url 'post_list' %}" class="navbar-form">
            <div class="form-group">
                <input type="text" name="search" placeholder="Buscar OS ou Cliente..." class="form-control" value="{{ request.GET.search }}">
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
        </form>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
        <!-- Este link agora fica no canto superior direito do retângulo azul -->
                <div class="top-menu" style="float: right; color: white;">
                    Olá, {{ user.username }}! 
                    <!-- Formulário de Logout para atender aos requisitos de segurança do Django 6 -->
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: #bdc3c7; cursor: pointer; text-decoration: underline; margin-left: 10px; padding: 0;">
                            Sair
                        </button>
                    </form>
                </div>
            {% endif %}
    
    <h1><a href="/">Assistência Técnica - Gestão</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html> 
