{% load static %}
<html>
    <head>
        <title>Assistência Técnica - Gestão</title>
        <form method="GET" action="{% url 'post_list' %}" class="navbar-form">
            <div class="form-group">
                <input type="text" name="search" placeholder="Buscar OS ou Cliente..." class="form-control" value="{{ request.GET.search }}">
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
        </form>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <!-- Informações de Login no canto direito -->
                <div class="top-menu" style="float: right; color: white; text-align: right;">
                    <p style="margin-bottom: 5px;">Olá, {{ user.username }}!</p>
                    
                    <!-- Botão de Sair (Formulário) -->
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: #bdc3c7; cursor: pointer; text-decoration: underline; padding: 0; font-size: 12px;">
                            Sair
                        </button>
                    </form>
                </div>

                <!-- Botão "+" de Nova OS no canto esquerdo -->
                <a href="{% url 'os_nova' %}" class="top-menu" style="float: left; margin-right: 20px;">
                    <span class="glyphicon glyphicon-plus" style="color: #3498db; font-size: 25px;"></span>
                </a>
            {% endif %}

            <h1><a href="/">Assistência Técnica - Gestão</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html> 
