{% load static %}
<html>
    <head>
        <title>Assistência Técnica - Gestão</title>
        <form method="GET" action="{% url 'post_list' %}" class="navbar-form">
            <div class="form-group">
                <input type="text" name="search" placeholder="Buscar OS ou Cliente..." class="form-control" value="{{ request.GET.search }}">
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
        </form>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'os_nova' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
                <h1><a href="/">Assistência Técnica - Gestão</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html> 